<li>
	<form action="#" method="GET">
		<div class="input-field col s4">
			<input type="text" name="search" id="search" placeholder="Search ...">
			<button class="btn gray" type="submit">Search</button>
		</div>
	</form>
</li>
<li><a href="#!" class="dropdown-button" data-activates="dropdown-view">View <span><i class="fa fa-angle-down"></i></span></a></li>
<li><a href="#!" class="dropdown-button" data-activates="dropdown-add">Add New <span><i class="fa fa-angle-down"></i></span></a></li>
<li><a href="">Draft Lottery</a></li>