<ul class="dropdown-content black darken-3" id="dropdown-view">
    <li><a href="{% url 'wwe2k16:brands' %}">Brands</a></li>
    <li><a href="{% url 'wwe2k16:wrestlers' %}">Wrestlers</a></li>
    <li><a href="{% url 'wwe2k16:tagteams' %}">Tag Teams</a></li>
    <li><a href="{% url 'wwe2k16:championships' %}">Championships</a></li>
    <li><a href="{% url 'wwe2k16:events' %}">Events</a></li>
    <li><a href="{% url 'wwe2k16:matchtypes' %}">Match Types</a></li>
</ul>

<ul class="dropdown-content black darken-3" id="dropdown-add">
    <li><a href="{% url 'wwe2k16:brand-add' %}">Brand</a></li>
    <li><a href="{% url 'wwe2k16:wrestler-add' %}">Wrestler</a></li>
    <li><a href="{% url 'wwe2k16:tagteam-add' %}">Tag Team</a></li>
    <li><a href="{% url 'wwe2k16:championship-add' %}">Championship</a></li>
    <li><a href="{% url 'wwe2k16:event-add' %}">Event</a></li>
    <li><a href="{% url 'wwe2k16:matchtype-add' %}">Match Type</a></li>
    <li><a href="{% url 'wwe2k16:match-add' %}">Match</a></li>
    <li><a href="{% url 'wwe2k16:tagmatch-add' %}">Tag Team Match</a></li>
</ul>