<ul class="dropdown-content black" id="dropdown-brand">
    <li><a href="{% url 'wwe2k16:brand-add' %}">Add Brand</a></li>
    <li><a href="{% url 'wwe2k16:brands' %}">Brand List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-wrestler">
    <li><a href="{% url 'wwe2k16:wrestler-add' %}">Add Wrestler</a></li>
    <li><a href="{% url 'wwe2k16:wrestlers' %}">Wrestler List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-tag-team">
    <li><a href="{% url 'wwe2k16:tagteam-add' %}">Add Tag Team</a></li>
    <li><a href="{% url 'wwe2k16:tagteams' %}">Tag Team List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-event">
    <li><a href="{% url 'wwe2k16:event-add' %}">Add Event</a></li>
    <li><a href="{% url 'wwe2k16:events' %}">Event List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-championship">
    <li><a href="{% url 'wwe2k16:championship-add' %}">Add Championship</a></li>
    <li><a href="{% url 'wwe2k16:championships' %}">Championship List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-match-type">
    <li><a href="{% url 'wwe2k16:matchtype-add' %}">Add Match Type</a></li>
    <li><a href="{% url 'wwe2k16:matchtypes' %}">MatchType List</a></li>
</ul>