<li>
	<form action="#!" method="GET">
		<div class="input-field col s8">
			<input type="search" name="search" id="search-nav">
			<label class="label-icon" for="search"><i class="material-icons">search</i></label>
			<i class="material-icons">close</i>
		</div>
	</form>
</li>
<li><a href="#!" class="dropdown-button" data-activates="dropdown-view">Viewable Fields <i class="material-icons right">arrow_drop_down</i></a></li>
<li><a href="#!" class="dropdown-button" data-activates="dropdown-add">Add New <i class="material-icons right">arrow_drop_down</i></a></li>
<li><a href="{% url 'wwe2k16:drafts' %}">Draft Lottery</a></li>