<!-- <li>
	<form action="#" method="GET">
		<div class="input-field col s4">
			<input type="text" name="search" id="search" placeholder="Search ...">
			<button class="btn gray" type="submit">Search</button>
		</div>
	</form>
</li> -->
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-brand">
		Brands <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-wrestler">
		Superstars <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-tag-team">
		Tag Teams <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-event">
		Events <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-championship">
		Championships <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-match-types">
		Match Types <span><i class="fa fa-angle-down"></i></span>
	</a>
</li>
<li><a href="{% url 'wwe:drafts' %}">Draft Lottery</a></li>
