<ul class="dropdown-content black" id="dropdown-brand">
    <li><a href="{% url 'wwe:brand-add' %}">Add Brand</a></li>
    <li><a href="{% url 'wwe:brands' %}">Brand List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-wrestler">
    <li><a href="{% url 'wwe:wrestler-add' %}">Add Wrestler</a></li>
    <li><a href="{% url 'wwe:wrestlers' %}">Wrestler List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-tag-team">
    <li><a href="{% url 'wwe:tagteam-add' %}">Add Tag Team</a></li>
    <li><a href="{% url 'wwe:tagteams' %}">Tag Team List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-event">
    <li><a href="{% url 'wwe:event-add' %}">Add Event</a></li>
    <li><a href="{% url 'wwe:events' %}">Event List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-championship">
    <li><a href="{% url 'wwe:championship-add' %}">Add Championship</a></li>
    <li><a href="{% url 'wwe:championships' %}">Championship List</a></li>
</ul>
<ul class="dropdown-content black" id="dropdown-match-type">
    <li><a href="{% url 'wwe:matchtype-add' %}">Add Match Type</a></li>
    <li><a href="{% url 'wwe:matchtypes' %}">MatchType List</a></li>
</ul>
