{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/css/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/fontawe/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/css/sweetalert2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/css/tablesorter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe2k16/css/custom.css' %}">