{% extends 'wwe2k16/base.html' %}

{% block no-container %}
	<section>
		<div class="row">
			<div class="input-field col s12">
				<form action="" method="POST">
					{% csrf_token %}
					<button class="btn waves-effect waves-light black lighten-1" id="generate" type="submit">Generate
						<span><i class="fa fa-cog"></i></span>
					</button>
					<a class="btn waves-effect waves-light green lighten-1" id="saveDraft">Save
						<span><i class="fa fa-save"></i></span>
					</a>
					<a class="btn waves-effect waves-light red lighten-1" id="deleteDraft">Delete
						<span><i class="fa fa-trash-o"></i></span>
					</a>
				</form>
			</div>
		</div>
		<div class="row" id="drafts">
		{% for draft in drafts %}
			<div class="col m3 s12 center">
				<a href="#!" class="white-text">
					<div class="card z-depth-5">
						<div class="card-content {{draft.brand.color}}">
							<span class="card-title">{{draft.brand}} </span>
							<div class="row">
								{% for wrestler in draft.wrestlers.all %}
									<div class="col m12 s12 center">
										<a href="{% url 'wwe2k16:wrestler' wrestler.slug %}">
										<div class="card z-depth-5">
											<div class="card-content black white-text">
												<span class="card-title">
													{{wrestler.name}}
													{% for championship in wrestler.championship_set.all %}
														({{championship.belt_type}})
													{% endfor %}
												</span>
											</div>
										</div>
										</a>
									</div>
									{% empty %}
									<h4	>No wwe superstar currently in {{brand.name}} brand</h4>
								{% endfor %}
							</div>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}

{% block script %}
<script>
	$(document).ready(() => {
		$('#saveDraft').click((e) => {
			const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
			$.post("/wwe2k16/drafthistory/create", {
				csrfmiddlewaretoken
			},
			function(response, status) {
				console.log(response);
			});
		});
		$('#deleteDraft').click((e) => {
			const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
			swal({
				title: "Reject Draft",
				text: "Are you sure about clearing latest draft ?",
				type: "warning",
				showCancelButton: true,
				showLoaderOnConfirm: true,
				confirmButtonText: 'Yes, delete it!',
			}).then((result) => {
					$.post("/wwe2k16/draft/delete", {
						csrfmiddlewaretoken
					},
					function(response, status) {
						if (response === 'deleted') {
							$('#drafts').html('');
						}
					});
			});
		});
	});
</script>
{% endblock %}