{% extends 'wwe2k16/base.html' %}

{% block no-container %}
	<section>
		<div class="row">
			<form action="" method="POST">
			{% csrf_token %}
			<div class="input-field col s12">
				<button class="btn waves-effect waves-light black lighten-1" id="generate" type="submit">Generate
						<i class="material-icons">add</i>
				</button>
			</div>
			</form>
		</div>
		<div class="row">
		{% for draft in drafts %}
			<div class="col m3 s12 center">
				<a href="#!" class="white-text">
					<div class="card z-depth-5">
						<div class="card-content {{draft.brand.color}}">
							<span class="card-title">{{draft.brand}} </span>
							<div class="row">
								{% for wrestler in draft.wrestlers.all %}
									<div class="col m12 s12 center">
										<a href="{% url 'wwe2k16:wrestler' wrestler.slug %}">
										<div class="card z-depth-5">
											<div class="card-content black white-text">
												<span class="card-title">
													{{wrestler.name}}
													{% for championship in wrestler.championship_set.all %}
														({{championship.belt_type}})
													{% endfor %}
												</span>
											</div>
										</div>
										</a>
									</div>
									{% empty %}
									<h4	>No wwe superstar currently in {{brand.name}} brand</h4>
								{% endfor %}
							</div>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}

{% block script %}
<script>
	// $(document).ready(() => {
	// 	$('#generate').click((e) => {
	// 		const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
	// 		$.post("/wwe2k16/draft/", {
	// 			csrfmiddlewaretoken
	// 		},
	// 		function(response, status) {
	// 			console.log(response);
	// 		});
	// 	});
	// });
</script>
{% endblock %}