{% load staticfiles %}
<script type="text/javascript" src="{% static 'wwe2k16/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/materialize.clockpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/pagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/sweetalert2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe2k16/js/autocomplete.js' %}"></script>