{% extends 'wwe2k16/base.html' %}

{% block title %}Wrestlers{% endblock %}
{% block bgclass %}green lighten-1{% endblock %}

{% block body %}
<section>
	<div class="row">
		<table class="striped highlight centered sort-table">
			<thead>
				<tr class="card z-depth-5 green darken-3 white-text">
					<th>Superstar</th>
					<th>Ovr</th>
					<th>Brand</th>
					<th>Original</th>
					<th>New</th>
					<th>Points</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
			{% for wrestler in all_wrestlers %}
				<tr class="card z-depth-5">
					<td>{{wrestler.name}}
					</td>
					<td>{{wrestler.ovr}}</td>
					<td class="{{wrestler.brand.color}} lighten-1">{{wrestler.brand}}</td>
					<td>{{wrestler.original_titles}}</td>
					<td>{{wrestler.total_titles}}</td>
					<td>{{wrestler.total_points}}</td>
					<td>
						{% csrf_token %}
						<button class="btn waves-effect waves-light red"  onclick="confirmDelete('wrestler', '{{wrestler.slug}}')">
							<i class="material-icons">delete</i>
						</button>
						<a href="{% url 'wwe2k16:wrestler' wrestler.slug %}" class="btn waves-effect waves-light black">
							<i class="material-icons">edit</i>
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr class="tablesorter-ignoreRow card z-depth-5">
					<th class="ts-pager form-horizontal" colspan="7">
						<button type="button" class="btn first black"><i class="small material-icons">first_page</i></button>
						<button type="button" class="btn prev black"><i class="small material-icons">navigate_before</i></button>
						<span class="pagedisplay"></span>
						<!-- this can be any element, including an input -->
						<button type="button" class="btn next black"><i class="small material-icons">navigate_next</i></button>
						<button type="button" class="btn last black"><i class="small material-icons">last_page</i></button>
						<select class="pagesize browser-default" title="Select page size">
							<option selected="selected" value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
						</select>
						<select class="pagenum browser-default" title="Select page number"></select>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</section>
{% endblock %}
