{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wwe/css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe/css/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe/fontawe/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe/css/sweetalert2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe/css/tablesorter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wwe/css/custom.css' %}">
