{% load staticfiles %}
<script type="text/javascript" src="{% static 'wwe/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/sweetalert2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/tablesorter.widget.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/tablesorter.pager.min.js' %}"></script>
<script type="text/javascript" src="{% static 'wwe/js/custom.js' %}"></script>
